.container {
  display: flex;
}

.container .eyes {
  position: relative;
  width: 100px;
  height: 100px;
  display: block;
  background-color: #fff;
  margin: 0 20px;
  border-radius: 48%;
  box-shadow: 0 0px 120px rgb(255, 255, 255, 0.4), inset 0 0 2px #000000,
    inset 0 0 30px #000000;
}

.container .eyes::before {
  content: "";
  top: 50%;
  left: 35px;
  transform: translate(-50%, -50%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  border: 11px solid rgb(66, 94, 97);
  box-sizing: border-box;
}
