.home-section {
  overflow: hidden;
}

.arrow {
  position: absolute;
  width: 50px;
  height: 50px;
}

.arrow-right {
  left: 80%;
}

.arrow-left {
  right: 80%;
}

.arrow path {
  fill: rgb(202, 202, 202);
}

.title-slide-in-right,
.title-slide-in-left,
.subtitle-slide-in-right,
.subtitle-slide-in-right-rotate,
.subtitle-slide-in-left {
  opacity: 0;
}

.title-slide-in-right {
  animation: slide-in-right 1.8s ease-out 1s;
}

.title-slide-in-left {
  animation: slide-in-left 1.8s ease-out 1s;
}

.subtitle-slide-in-right {
  animation: slide-in-right 1.8s ease-out 2.4s;
}

.subtitle-slide-in-right-rotate {
  animation: slide-in-right-rotate 1.8s ease-out 2.4s;
}

.subtitle-slide-in-left {
  animation: slide-in-left 1.8s ease-out 2.4s;
}

.title-slide-in-right,
.title-slide-in-left,
.subtitle-slide-in-right,
.subtitle-slide-in-right-rotate,
.subtitle-slide-in-left {
  animation-fill-mode: forwards;
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right-rotate {
  from {
    transform: translateX(100%) rotate(180deg);
  }
  to {
    transform: translateX(0) rotate(180deg);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.overlay::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 50%;
  z-index: 0;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
  transition: opacity 0.55s, transform 0.55s;
}

.overlay:hover::before {
  width: 200%;
  height: 200%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.overlay-red:hover::before {
  background-color: rgba(255, 0, 0, 0.08);
}

.overlay-green:hover::before {
  background-color: rgba(0, 255, 0, 0.08);
}

.overlay-blue:hover::before {
  background-color: rgba(0, 0, 255, 0.08);
}

.overlay-yellow:hover::before {
  background-color: rgba(255, 255, 0, 0.08);
}
